
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Qr</title>
</head>
<body>
    <h2>НИЯУ МИФИ</h2>
    <p>Скачайте приложение НИЯУ МИФИ для расшифроки qrcode</p>
    <div>
        <button>
            <!--                <img src="images/umbrella.gif" alt="" style="vertical-align:middle">  -->
            Перейти в PlayMarket
        </button>
    </div>
    <div>
        <button>
            <!--                <img src="images/umbrella.gif" alt="" style="vertical-align:middle">  -->
            Перейти в AppStore
        </button>
    </div>
</body>
</html>
